<h2>Skills Sphere</h2>
<p>Cut through boilerplate. Build real Java power.</p>

<ul>
  <li>
    <a href="https://docs.oracle.com/en/java/javase/17/" appSafeLink queryParam="skillsphere-documentation">Java 17
      Documentation</a>
  </li>
  <li>
    <a href="https://javabrains.io/collections" appSafeLink queryParam="skillsphere-courses">Java Brains Courses</a>
  </li>
  <li>
    <a href="https://www.youtube.com/@Java.Brains" appSafeLink queryParam="skillsphere-youtube">Youtube</a>
  </li>
  <li>
    <a href="https://www.google.com/search?q=java" appSafeLink queryParam="skillsphere-google-search">Google</a>
  </li>
</ul>